### Test download Model's artifacts

In [1]:
import oci
import ads
import os
import json

from ads import set_auth
from oci.auth.signers import get_resource_principals_signer
from ads.common.model_artifact import ModelArtifact
from ads.catalog.model import ModelCatalog

In [2]:
ads.set_auth(auth='resource_principal')

In [3]:
mc = ModelCatalog(compartment_id="ocid1.compartment.oc1..aaaaaaaaoxmcrbf3x3kozxkehlontyvtb4vif64vedvkneqv3b6rozumpxzq")

In [4]:
mc_list = mc.list_models(include_deleted=False)
mc_list

[<style type="text/css">
 #T_99e55_row0_col0, #T_99e55_row1_col0, #T_99e55_row2_col0, #T_99e55_row3_col0, #T_99e55_row4_col0, #T_99e55_row5_col0, #T_99e55_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_99e55_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_99e55_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_99e55_row0_col0" class="data row0 col0" >logreg-model-new4-test-job</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_99e55_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_99e55_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqajwj6jkhrpnzorj45ku2cmf25lw6choiwu6lqysf4srkq', 'CreatedOn': '2021-11-30T14:52:25.566Z'}}</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_99e55_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_99e55_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_99e55_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_99e55_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_99e55_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_c0f5c_row0_col0, #T_c0f5c_row1_col0, #T_c0f5c_row2_col0, #T_c0f5c_row3_col0, #T_c0f5c_row4_col0, #T_c0f5c_row5_col0, #T_c0f5c_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_c0f5c_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_c0f5c_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_c0f5c_row0_col0" class="data row0 col0" >logreg-model-new3-test-job</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_c0f5c_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_c0f5c_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqa43xbajtl7ofkgdgmyfrypyabe6wzbnd3xvlqhb4drezq', 'CreatedOn': '2021-11-30T10:16:28.231Z'}}</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_c0f5c_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_c0f5c_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_c0f5c_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_c0f5c_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_c0f5c_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_edbab_row0_col0, #T_edbab_row1_col0, #T_edbab_row2_col0, #T_edbab_row3_col0, #T_edbab_row4_col0, #T_edbab_row5_col0, #T_edbab_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_edbab_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_edbab_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_edbab_row0_col0" class="data row0 col0" >logreg-model-new3-test-job</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_edbab_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_edbab_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqamqhl3vy3g2fwyuiycjx7rekdfq3pwl5rophwi25hiczq', 'CreatedOn': '2021-11-30T09:11:47.209Z'}}</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_edbab_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_edbab_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_edbab_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_edbab_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_edbab_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_680f2_row0_col0, #T_680f2_row1_col0, #T_680f2_row2_col0, #T_680f2_row3_col0, #T_680f2_row4_col0, #T_680f2_row5_col0, #T_680f2_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_680f2_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_680f2_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_680f2_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_680f2_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_680f2_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-10T08:19:56.104Z'}}</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_680f2_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_680f2_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_680f2_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_680f2_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_680f2_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_6ae37_row0_col0, #T_6ae37_row1_col0, #T_6ae37_row2_col0, #T_6ae37_row3_col0, #T_6ae37_row4_col0, #T_6ae37_row5_col0, #T_6ae37_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_6ae37_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_6ae37_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_6ae37_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_6ae37_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_6ae37_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-09T05:22:55.759Z'}}</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_6ae37_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_6ae37_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_6ae37_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_6ae37_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_6ae37_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_7642f_row0_col0, #T_7642f_row1_col0, #T_7642f_row2_col0, #T_7642f_row3_col0, #T_7642f_row4_col0, #T_7642f_row5_col0, #T_7642f_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_7642f_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_7642f_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_7642f_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_7642f_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_7642f_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-09T05:21:26.337Z'}}</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_7642f_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_7642f_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_7642f_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_7642f_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_7642f_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_431f1_row0_col0, #T_431f1_row1_col0, #T_431f1_row2_col0, #T_431f1_row3_col0, #T_431f1_row4_col0, #T_431f1_row5_col0, #T_431f1_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_431f1_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_431f1_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_431f1_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_431f1_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_431f1_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:31:33.256Z'}}</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_431f1_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_431f1_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_431f1_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_431f1_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_431f1_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_e1e6d_row0_col0, #T_e1e6d_row1_col0, #T_e1e6d_row2_col0, #T_e1e6d_row3_col0, #T_e1e6d_row4_col0, #T_e1e6d_row5_col0, #T_e1e6d_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_e1e6d_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_e1e6d_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_e1e6d_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_e1e6d_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_e1e6d_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:05:08.821Z'}}</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_e1e6d_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_e1e6d_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_e1e6d_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_e1e6d_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_e1e6d_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_dbd01_row0_col0, #T_dbd01_row1_col0, #T_dbd01_row2_col0, #T_dbd01_row3_col0, #T_dbd01_row4_col0, #T_dbd01_row5_col0, #T_dbd01_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_dbd01_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_dbd01_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_dbd01_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_dbd01_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_dbd01_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:04:15.886Z'}}</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_dbd01_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_dbd01_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_dbd01_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_dbd01_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_dbd01_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_26c0e_row0_col0, #T_26c0e_row1_col0, #T_26c0e_row2_col0, #T_26c0e_row3_col0, #T_26c0e_row4_col0, #T_26c0e_row5_col0, #T_26c0e_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_26c0e_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_26c0e_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_26c0e_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_26c0e_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_26c0e_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_26c0e_level0_row2" class="row_heading level0 row2" >defined_tags</th>

In [5]:
# test download
MODEL_OCID = "ocid1.datasciencemodel.oc1.eu-frankfurt-1.amaaaaaa7egirmqa2snieykohpie22i6vzdvelzmosvl52pnnrsgqtizot7q"
DOWNLOAD_DIR = "./model"
MODEL_FILE = "model.pkl"

dl_model_artifact = mc.download_model(MODEL_OCID, DOWNLOAD_DIR, force_overwrite=True)

WARNING:ads.common:Libraries in `ds-requirements.txt` were not installed. Use `install_requirements()` to install the required dependencies.

In [6]:
# check that the model pkl is there
if os.path.isfile(DOWNLOAD_DIR + "/" + MODEL_FILE):
    print ("Model file is there")
else:
    print ("File not exist")

Model file is there

In [7]:
type(mc_list.df)

pandas.core.frame.DataFrame