### Test download Model's artifacts

In [3]:
import oci
import ads
import os
import json

from ads import set_auth
from oci.auth.signers import get_resource_principals_signer
from ads.common.model_artifact import ModelArtifact
from ads.catalog.model import ModelCatalog

In [4]:
ads.set_auth(auth='resource_principal')

In [5]:
mc = ModelCatalog(compartment_id=os.environ['NB_SESSION_COMPARTMENT_OCID'])

In [6]:
mc_list = mc.list_models(include_deleted=False)
mc_list

[<style type="text/css">
 #T_f42a7_row0_col0, #T_f42a7_row1_col0, #T_f42a7_row2_col0, #T_f42a7_row3_col0, #T_f42a7_row4_col0, #T_f42a7_row5_col0, #T_f42a7_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_f42a7_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_f42a7_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_f42a7_row0_col0" class="data row0 col0" >logreg-model-new4-test-job</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_f42a7_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_f42a7_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqajwj6jkhrpnzorj45ku2cmf25lw6choiwu6lqysf4srkq', 'CreatedOn': '2021-11-30T14:52:25.566Z'}}</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_f42a7_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_f42a7_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_f42a7_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_f42a7_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_f42a7_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_4ce0a_row0_col0, #T_4ce0a_row1_col0, #T_4ce0a_row2_col0, #T_4ce0a_row3_col0, #T_4ce0a_row4_col0, #T_4ce0a_row5_col0, #T_4ce0a_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_4ce0a_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_4ce0a_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_4ce0a_row0_col0" class="data row0 col0" >logreg-model-new3-test-job</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_4ce0a_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_4ce0a_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqa43xbajtl7ofkgdgmyfrypyabe6wzbnd3xvlqhb4drezq', 'CreatedOn': '2021-11-30T10:16:28.231Z'}}</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_4ce0a_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_4ce0a_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_4ce0a_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_4ce0a_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_4ce0a_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_cfef1_row0_col0, #T_cfef1_row1_col0, #T_cfef1_row2_col0, #T_cfef1_row3_col0, #T_cfef1_row4_col0, #T_cfef1_row5_col0, #T_cfef1_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_cfef1_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_cfef1_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_cfef1_row0_col0" class="data row0 col0" >logreg-model-new3-test-job</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_cfef1_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_cfef1_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencejobrun.oc1.eu-frankfurt-1.amaaaaaa7egirmqamqhl3vy3g2fwyuiycjx7rekdfq3pwl5rophwi25hiczq', 'CreatedOn': '2021-11-30T09:11:47.209Z'}}</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_cfef1_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_cfef1_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_cfef1_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_cfef1_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_cfef1_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_6cfa8_row0_col0, #T_6cfa8_row1_col0, #T_6cfa8_row2_col0, #T_6cfa8_row3_col0, #T_6cfa8_row4_col0, #T_6cfa8_row5_col0, #T_6cfa8_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_6cfa8_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_6cfa8_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_6cfa8_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_6cfa8_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_6cfa8_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-10T08:19:56.104Z'}}</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_6cfa8_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_6cfa8_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_6cfa8_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_6cfa8_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_6cfa8_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_49441_row0_col0, #T_49441_row1_col0, #T_49441_row2_col0, #T_49441_row3_col0, #T_49441_row4_col0, #T_49441_row5_col0, #T_49441_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_49441_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_49441_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_49441_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_49441_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_49441_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-09T05:22:55.759Z'}}</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_49441_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_49441_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_49441_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_49441_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_49441_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_5c4cc_row0_col0, #T_5c4cc_row1_col0, #T_5c4cc_row2_col0, #T_5c4cc_row3_col0, #T_5c4cc_row4_col0, #T_5c4cc_row5_col0, #T_5c4cc_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_5c4cc_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_5c4cc_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_5c4cc_row0_col0" class="data row0 col0" >model-catboost20</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_5c4cc_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_5c4cc_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-09T05:21:26.337Z'}}</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_5c4cc_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_5c4cc_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_5c4cc_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_5c4cc_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_5c4cc_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_e3fa0_row0_col0, #T_e3fa0_row1_col0, #T_e3fa0_row2_col0, #T_e3fa0_row3_col0, #T_e3fa0_row4_col0, #T_e3fa0_row5_col0, #T_e3fa0_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_e3fa0_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_e3fa0_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_e3fa0_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_e3fa0_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_e3fa0_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:31:33.256Z'}}</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_e3fa0_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_e3fa0_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_e3fa0_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_e3fa0_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_e3fa0_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_0e102_row0_col0, #T_0e102_row1_col0, #T_0e102_row2_col0, #T_0e102_row3_col0, #T_0e102_row4_col0, #T_0e102_row5_col0, #T_0e102_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_0e102_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_0e102_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_0e102_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_0e102_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_0e102_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:05:08.821Z'}}</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_0e102_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_0e102_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_0e102_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_0e102_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_0e102_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_37d85_row0_col0, #T_37d85_row1_col0, #T_37d85_row2_col0, #T_37d85_row3_col0, #T_37d85_row4_col0, #T_37d85_row5_col0, #T_37d85_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_37d85_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_37d85_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_37d85_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_37d85_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row2" class="row_heading level0 row2" >defined_tags</th>
       <td id="T_37d85_row2_col0" class="data row2 col0" >{'Oracle-Tags': {'CreatedBy': 'ocid1.datasciencenotebooksession.oc1.eu-frankfurt-1.amaaaaaa7egirmqaub6qzqhkayw5p6wbtz4ttoyl6gbnzfmh6cyvw2tv6hvq', 'CreatedOn': '2021-11-08T16:04:15.886Z'}}</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row3" class="row_heading level0 row3" >schema_input</th>
       <td id="T_37d85_row3_col0" class="data row3 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row4" class="row_heading level0 row4" >schema_output</th>
       <td id="T_37d85_row4_col0" class="data row4 col0" >{'schema': []}</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row5" class="row_heading level0 row5" >metadata_custom</th>
       <td id="T_37d85_row5_col0" class="data row5 col0" >{'data': []}</td>
     </tr>
     <tr>
       <th id="T_37d85_level0_row6" class="row_heading level0 row6" >metadata_taxonomy</th>
       <td id="T_37d85_row6_col0" class="data row6 col0" >{'data': [{'key': 'Hyperparameters', 'value': None}, {'key': 'UseCaseType', 'value': None}, {'key': 'FrameworkVersion', 'value': None}, {'key': 'Framework', 'value': None}, {'key': 'Algorithm', 'value': None}, {'key': 'ArtifactTestResults', 'value': None}]}</td>
     </tr>
   </tbody>
 </table>,
 <style type="text/css">
 #T_9c410_row0_col0, #T_9c410_row1_col0, #T_9c410_row2_col0, #T_9c410_row3_col0, #T_9c410_row4_col0, #T_9c410_row5_col0, #T_9c410_row6_col0 {
   margin-left: 0px;
 }
 </style>
 <table id="T_9c410_">
   <thead>
     <tr>
       <th class="blank level0" >&nbsp;</th>
       <th class="col_heading level0 col0" ></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th id="T_9c410_level0_row0" class="row_heading level0 row0" >display_name</th>
       <td id="T_9c410_row0_col0" class="data row0 col0" >model-catboost16</td>
     </tr>
     <tr>
       <th id="T_9c410_level0_row1" class="row_heading level0 row1" >freeform_tags</th>
       <td id="T_9c410_row1_col0" class="data row1 col0" >{}</td>
     </tr>
     <tr>
       <th id="T_9c410_level0_row2" class="row_heading level0 row2" >defined_tags</th>

In [11]:
# test download
MODEL_OCID = "ocid1.datasciencemodel.oc1.eu-frankfurt-1.amaaaaaa7egirmqa2snieykohpie22i6vzdvelzmosvl52pnnrsgqtizot7q"
DOWNLOAD_DIR = "./model"
MODEL_FILE = "model.pkl"

dl_model_artifact = mc.download_model(MODEL_OCID, DOWNLOAD_DIR, force_overwrite=True)

WARNING:ads.common:Libraries in `ds-requirements.txt` were not installed. Use `install_requirements()` to install the required dependencies.

In [13]:
# check that the model pkl is there
import os.path

if os.path.isfile(DOWNLOAD_DIR + "/" + MODEL_FILE):
    print ("Model file is there")
else:
    print ("File not exist")

Model file is there